body{
    background: url(img/stan.gif) no-repeat center center fixed;
    background-size: cover;
}
.navbar-expand-lg{
    background-color: #76a07c;
    padding:10px;
}
.container{
    height: 10em;
    position: relative;
}
.btns{
    display: inline-block;
    padding: 10px 15px;
    background: #446c4b;
    border-radius: 0.4em;
    color: #d7f9db;
    text-decoration: none;
    text-align: center;
    margin: 2px; 
}
.btns:hover{
    color: #f8f4ff;
}
.row{
    padding: 10px;
}
.form-group-c{
    color:#d7f9db;
    margin-bottom: 15px;
}
.form-group label{
    color:#d7f9db;
}

.form-group-contact-field{
    display: none;
    color:#d7f9db;
    margin-bottom: 15px;
}

.modal-body .form-group label{
    color: black;
}
.izg-name{
    color:#6f4341;
}
.izg-name:hover{
    color:#456b4b;
}
.tovar{
    padding:10px;
}

.zagolovok{
    padding: 10px 15px;
    background:#76a07c;
    border-radius: 0.4em;
    color:#d7f9db;
}


.card-text .form-control{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.card{
    padding: 5px;
    margin: 3px;

}
.product-links-ind{
    display: block;
    margin-left: auto;
    margin-right: auto
}